body {
    background-color: #191919;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    height: 10vh;
    text-align: center;
    font-size: 40px;
    color: white;
    text-decoration: underline rgb(184, 121, 43);
}

.result {
    padding: 5px;
    width: 62vw;
    height: 10vh;
    text-align: center;
    font-size: 32px;
    color: white;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numberOfChocie {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 62vw;
    height: 16vh;
    background-color: #191919;
    color: white;
    font-size: larger;
    align-items: center;
}

.numberOfChoice span {
    font-size: 30px;
    text-decoration: underline rgb(184, 121, 43);
}

.group {
    display: flex;
    width: 62vw;
    height: 8vh;
    margin: 20px;
    padding: 5px;
    background-color: #191919;
    color: white;
    justify-content: center;
}

.student10 {
    padding: 5px;
    margin: 5px;
    width: 15vw;
    height: 6vh;
    background-color: rgb(184, 121, 43);
    color: white;
    font-size: larger;
    border-radius: 15px;
}

.student20 {
    padding: 5px;
    margin: 5px;
    width: 15vw;
    height: 6vh;
    background-color: rgb(184, 121, 43);
    color: white;
    font-size: larger;
    border-radius: 15px;
}

.student43 {
    padding: 5px;
    margin: 5px;
    width: 15vw;
    height: 6vh;
    background-color: rgb(184, 121, 43);
    color: white;
    font-size: larger;
    border-radius: 15px;
}

.student10:hover {
    background-color: rgb(191, 146, 91);
}

.student20:hover {
    background-color: rgb(191, 146, 91);
}

.student43:hover {
    background-color: rgb(191, 146, 91);
}

.imageBox{
    width: 62vw;
    height: 30vh;
    margin: 10px;
    padding: 5px;
    background-color: #191919;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.imageBoxImg{
    height: 130%;
    display: none;
}

